.histable{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    background-color: whitesmoke;
    text-align: center;
    font-size: 25px;
    width: 60em;
    overflow: scroll;
    margin-left: 50px;
}
.histh,.histd{
    border: 1px;
    border-style: solid;
}
.name{
    font-size: 30px;
    -webkit-text-stroke-color:white ; 
    -webkit-text-stroke-width: 1%;
    font-weight: bolder;
    color: black;
    height: 100px;
    width: 120px;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}
.font{
    font-size: 25px;
    color: black;
    margin-left: 20px;
}
.right{
    text-align: center;
}
.button{
    width: 10em;
    height:3em;
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    
}
.date{
    width: 8em;
    height: 3em;
    font-size: 50px;
}
.buttonsize{
    width: auto;
    height:auto; 
    font-size: 50px;
    margin-left: 50px;
}
.button2{
    width: auto;
    height:auto;
    font-size: 17px;
    
}
.title{
    text-align: center;
    font-size: 30px;
}
input[type="submit"].button3{
    background-color: #4db4b4;
    margin-left: 20px;
    width: auto;
    height: 50px;
    overflow: hidden;
   
}
.nitizi{
    width:100px;
    height: 40px;
    margin-left: 20px;
}
input[type="text"].room_name{
    width: 200px;
    height: 40px;
    margin-left: 20px;
}
select{
    width: 260px;
    height: 60px;
    margin-left: 20px;
}
.text{
    font-size: 18px;
    margin-left: 20px;
}
