table{
    border-color: blue;
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    height: 80%;
    background-color: aliceblue;
}
th{
    border: 1px;
    border-style: solid ;
}

.reserved{
    background-color: red;
    border: 1px;
    border-style: solid ;
    font-size: large;
}
.not{
    background-color: yellow;
    border: 1px;
    border-style: solid ;
    font-size: 3em;
}
button{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: aquamarine;
    top: 0%;
    left: 0%;
}
.retime{
    width: 20%;
}
.title{
    font-size: 200%;
}
.time{
    font-size: 5em;
    border: 1px;
}