body{
    background-color: beige;
    text-align: center;
}
.not{
    background-color: aqua;
    font-size: 150px;
    
}
.use{
    background-color: orange;
    font-size: 80px;
}
p{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    display: block;
    z-index: 0;
}
.notbutton{
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0%;
    bottom: 0%;
    background-color: aqua;
    font-size: 500px;
    border-color:aqua ;
    /* text-align: center; */
    line-height: 0%;
    
}
.usebutton{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0%;
    bottom: 0%;
    background-color: orange;
    
    border-color:orange ;
    z-index: 1;
     overflow: hidden;  
     /* line-height: 0%;  */
     
}
.btext{
    vertical-align: top;
    margin: 0px;
    font-size: 11em;
}
.btexth{
    vertical-align: top;
    margin-top: 20px;
    font-size: 8em;
}
.room_button{
    width: 30%;
    height: 20%;
    font-size: 2em;
    margin: 1%;

}
.room{
    text-align: left;
    
}
.roomtext{
    left: 45%;
    padding: 40%;
}
.checkbox{
    width:  5%;
}
.long{
    font-size: 150%;
    overflow: hidden;
    height: 2%;
}
.backbutton{
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
}
.div{
    text-align: center;
}
.font{
    font-size: 60px;
    width: 100%;
}