.back{
    width: 100%;
    height: 14%;
    background-color:darkblue;
    
    top: 0%;
    
    position: absolute;
    left: 0%;
}
.title{
    font-size: 50px;
    top: 0%;
    float: left;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitle{
    font-size: 50px;
    
    color: white;
}
.span{
    width: 100%;
    font-size: 400px;
    height: 86%;
    color: white;
    bottom: 0%;
    background-color: tomato;
    position: absolute;
    left: 0%;
    text-align: center;
}
.Line{
    width: 100%;
    height: 20%;
}
.tab{
    list-style: none;
    text-align: right;
    display: flex;
        flex-wrap: wrap;
        /* gap: 10px 25px; */
    color: white;
    font-size: 25px;
    margin-top: 50px;
}
.tabtext{
    width: 30%;
    border-right: 1px;
}
.res{
    position: fixed;
    bottom: 10%;
    
    height: 100px;
    width: 50%;
    
    background-color: dodgerblue;
    font-size: 60px;
}
.center{
    text-align: center; 
    width: 50%;
}
.welcome{
    position: fixed;
    font-size: 60px;
    top: 60%;
    width: 100%;
}