body{
    background-color:beige;
}
h4{
    font-weight: bold;
    font-size: 25px;
}
/* 各拡張機能のチェックボックス */
ul{
    font-size: 20px;
    font-weight: bold;
}
.portal-header{
   font-size: 30px; 
   text-align: center;
}
/* 」拡張機能ON」のチェックボックス */
form input{
    display: inline-block;
    margin: 20px;
    transform: scale(1.6);
    accent-color: gray;
}
.ex-toggle{
    font-size: 17px;
}
.menu{
    font-family: arial;
    font-size: 25px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
/* 管理、問い合わせ、ログアウトのボタン */
.menu-button{
    text-align: center;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    font-size: 15px;
}
/* 選択した機能の状態を保存 */
.save-button {
    width: 80px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.save-button:hover {
    background-color: #45a049;
}
/* 拡張機能の一覧 */
.extension-menu{
    padding: 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.hidden{
    display: none;
}