body{
    background-color: beige;
    font-weight: bold;
}
p{
    font-size: 25px;
}
.button{
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

input[type="date"]{
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}