/* テーブルスタイル */
/* table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
} */

/* th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

tr{
    cursor: pointer;
}

tr:hover {
    background-color: #f5f5f5;
} */


table{
    /* border-color: black; */
    border-style: solid;
    border-collapse: collapse;

    /* 追加 */
    width: 100%;;
    background-color: white;
    margin: 0.3rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* 追加 */

th, td{
    /* 追加 */
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

input[type="submit"]{
    font-size: 25px;
}
/*  */

th {
    border: 1px;
    /* border-style: solid; */
        /* 追加 */
    text-align: center;
    font-size: 25px;
    border-color: var(--primary-color); 
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    width: 20%;
}

.no{
    font-size: 18px;
  
}
td{
    font-size: 18px;
    border-style: solid;
    border: 1px;
    border-color: black;
}

.reserved{
    background-color: red;
    border: 1px;
    border-style: solid ;
}
.not{
    background-color: rgb(0, 255, 136);
    border: 1px;
    border-style: solid ;
}
body{
    background-color: beige;
}
.bihin{
    border-color: beige;
    border-style: solid;
    border-collapse: collapse;
}
select{
    width: auto;
    height: auto;
    font-size: 18px;
}
/* .button{
    font-size: 18px;
    width: auto;
    height: auto;
} */
.date{
    width: 100px;
    height: 40px;
}
.bikou{
    width: 365px;
    height: 40px;
}
.font{
    font-size: 20px;
}
.check{
 text-align: center;
 font-size: 30px;
}
.title{
    text-align: center;
    font-size: 40px;
}
.buttons{
    font-size: 18px;
    width: auto;
    height: auto;
    text-align: center;
}
.center{
    text-align: center;
}
.list{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
.room{
    border-color: beige;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}
.reserved{
    background-color: red;
    border: 1px;
    border-style: solid ;
}
.not{
    background-color: rgb(0, 255, 136);
    border: 1px;
    border-style: solid ;
}