table{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    min-width: 500px; 
    width: auto;
    font-family: arial;
    justify-content: center;
}
th{
    border: 1px;
    border-style: solid ;
}

td{
    font-size: 18px;
}
tr{
    text-align: center;
    margin: 0 auto;
}
.reserved{
    border: 1px;
    border-style: solid ;
}
.reserved{
    background-color: red;
    border: 1px;
    border-style: solid ;
}
.not{
    background-color: rgb(0, 255, 136);
    border: 1px;
    border-style: solid ;
}
body{
    background-color: beige;
}
.bihin{
    border-color: beige;
    border-style: solid;
    border-collapse: collapse;
}
select{
    width: auto;
    height: auto;
    font-size: 18px;
}
.button{
    font-size: 18px;
    width: auto;
    height: auto;
}
.date{
    width: 100px;
    height: 40px;
}
.bikou{
    width: 365px;
    height: 40px;
}
.font{
    font-size: 20px;
}
.check{
 text-align: center;
 font-size: 30px;
}
.title{
    text-align: center;
    font-size: 40px;
}
.buttons{
    font-size: 18px;
    width: auto;
    height: auto;
    text-align: center;
}
.reserv-button{
    padding-left: -10px;
    width: 90%;
    height: 70%;
    border-radius: 0;
    top: 0%;
    background-color:rgb(0, 255, 136) ;
    border-color: chartreuse;
    font-weight: bold;
    font-size: 15px;
}
.top-button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 550;
}