body{
    background-color: beige;
    text-align: center;
}
.username{
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
.ze{
    text-align: right;
}
.box{
    height: 95%;
    
    bottom: 0%;
}
.sbox{
    width: 100%;
    height: 220px;   
}
.tbox{
    position: fixed;
    bottom: 10px;
}
/*chat_check*/
.check{
    text-align: center;
    color: tomato;
    font-size: 30px;
    
}
.alart{
    color: red;
    font-size: 30px;
    text-align: center;
}
.comp{
    color: chartreuse;
    font-size: 30px;
}
.login{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.logtext{
    text-align: center;
}
.text{
    position: relative;
    text-align: center;
    font-size: 20px;
    
}
.sucsess{
    color: green;
    text-align: center;
    font-size: 50px;
}
.table{
    text-align: center;
    width: 50%;
    margin: auto
}
.small{
    margin: auto;
    top:50%;
}
.top{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top :10%;  
}
.top2{
    font-size: 50px;
    text-align: center;
    color: black;
    
    margin-top :10%;  
}
table{
    text-align: left;
    margin-left: 30%;
    font-size: 20px;
}
.button{
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.ques{
    width: 100px;
    height: 40px;
}
td{
    font-size: 25px;
}