body{
    margin-left: 50px;
    background-color: lightgreen;
}
table{
    border-color: blue;
    border-style: solid;
    border-collapse: collapse;
    background-color: whitesmoke;
}
th{
    border: 1px;
    border-style: solid ;
}
td{
    border: 1px;
    border-style: solid ;
}
.table-name{
    font-size: 30px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    font-weight: bolder;
}