body{
    background-color: lightgreen;
}
.use{
    text-align: center;
    background-color: orange;
    margin-top: -0px;
    padding-bottom: 5%;
}
.not{
    text-align: center;
    background-color: skyblue;
}
p{
    font-size: 50px;
}